@import "tailwindcss";

/* * {
  background-color: black;
  color: white;
} */

body{
  background-color: black;
}

.parent{
  height: 100vh;
}

.nav1{
  height: fit-content;
}

.nav{
  width: 30%;
  height: fit-content;
}

.nav2{
  width:70%;
}

.opt{
  width: 30%;
}

.image{
  height:180px;
  width: 250px;
}

.card{
  width: fit-content;
  height: fit-content
}

.btn{
  width: fit-content;
}

